<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387082872753-3vhg5rccfo0r8i3n8hdrrpou1q2ikt39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387082872753-3vhg5rccfo0r8i3n8hdrrpou1q2ikt39</string>
	<key>API_KEY</key>
	<string>AIzaSyCBGf8oL_wktmUbbn8goRY0zsmH9R8NEjo</string>
	<key>GCM_SENDER_ID</key>
	<string>387082872753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomates.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>roomates-fe712</string>
	<key>STORAGE_BUCKET</key>
	<string>roomates-fe712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387082872753:ios:b0a0ab0f83039f53313f90</string>
</dict>
</plist>